[package]
name = "oneiros-outcomes"
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = false

[dependencies]
tracing.workspace = true

[dev-dependencies]
tracing-subscriber.workspace = true
